In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
df_final = pd.read_excel('/Users/shpetimtafili/Desktop/Advanced Data Analysis/Project ADA/BID_ASK_PRICE_FINAL.xlsx', sheet_name='FINAL')

In [23]:
for col in df_final.columns:
    if col.endswith('Timestamp'):
        df_final[col] = pd.to_datetime(df_final[col])

In [24]:
new_column_names = [f"{col} {df_final[col][0]}" for col in df_final.columns]
df_final.columns = new_column_names
df_final = df_final.drop(index=0).reset_index(drop=True)

In [25]:
df_final

,AAPL.O Timestamp,AAPL.O.1 Ask Close,AAPL.O.2 Ask Size,AAPL.O.3 Bid Close,AAPL.O.4 Bid Size,AAPL.O.5 Target Close,ABT Timestamp,ABT.1 Ask Close,ABT.2 Ask Size,ABT.3 Bid Close,...,PG.2 Ask Size,PG.3 Bid Close,PG.4 Bid Size,PG.5 Target Close,TSLA.O Timestamp,TSLA.O.1 Ask Close,TSLA.O.2 Ask Size,TSLA.O.3 Bid Close,TSLA.O.4 Bid Size,TSLA.O.5 Target Close
0,2024-05-14 16:30:00,187.03,3260600,187,3131800,NaN,2024-05-14 16:45:00,104.47,38200,104.44,...,149600,164.11,175800,164.12,2024-05-14 17:45:00,178.3,851400,178.25,1111200,178.29
1,2024-05-14 16:25:00,186.98,3796300,186.96,4298100,186.96,2024-05-14 16:40:00,104.46,244200,104.43,...,158500,164.23,325700,164.2301,2024-05-14 17:40:00,178.33,2707500,178.3,1925700,178.315
2,2024-05-14 16:20:00,186.73,2965500,186.72,3115000,186.7299,2024-05-14 16:35:00,104.49,163700,104.47,...,162200,164.4,245900,164.4123,2024-05-14 17:35:00,178.32,1808500,178.29,3074800,178.29
3,2024-05-14 16:15:00,186.8,3038800,186.79,3403200,186.7966,2024-05-14 16:30:00,104.56,244200,104.53,...,153500,164.39,241400,164.3989,2024-05-14 17:30:00,178.94,2275000,178.92,2070100,178.9234
4,2024-05-14 16:10:00,186.98,4606600,186.97,5660300,186.98,2024-05-14 16:25:00,104.54,226900,104.52,...,97700,164.47,157000,164.48,2024-05-14 17:25:00,178.95,1940500,178.93,2342600,178.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5997,2024-04-01 12:25:00,171.88,2100,171.75,2000,NaN,2024-03-14 11:35:00,121.14,39000,NaN,...,365400,NaN,NaN,NaN,2024-04-01 14:00:00,176.6,64800,176.54,35100,176.59
5998,2024-04-01 12:20:00,171.88,500,171.79,500,NaN,2024-03-14 11:30:00,121.2,4500,NaN,...,271300,NaN,NaN,NaN,2024-04-01 13:55:00,176.64,401600,176.5,80200,176.59
5999,2024-04-01 12:15:00,171.88,1000,NaN,NaN,NaN,2024-03-14 11:25:00,121.2,900,NaN,...,302500,NaN,NaN,NaN,2024-04-01 13:50:00,176.45,199900,NaN,NaN,NaN
6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5329700,NaN,NaN,NaN,2024-03-22 17:00:00,112.99,5329700,NaN,NaN,NaN
6001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df_final.to_csv('bid_ask_price_final.csv', index = False)